<p id="notice"><%= notice %></p>

<h1><%= @question.body %></h1>

<p>
  <strong>Answer:</strong>
  <span class="spoiler"><%= @question.answer %></span>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to "#{@question.author.slack_handle}", user_path(@question.author) %>
</p>

<p>
  <strong>Type:</strong>
  <%= @question.type %>
</p>

<p>
  <strong>Date last asked:</strong>
  <%= @question.date_last_asked || "Never" %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %> |
<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
