<p id="notice"><%= notice %></p>

<h1>Houses</h1>

<table>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= link_to "#{house.name}", house %></td>
        <td><%= "Current points: #{house.current_score}" %></td>
        <td><%= "Lifetime points: #{house.total_score}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
