<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= link_to 'New User', new_user_path %>

<table>
  <thead>
    <tr>
      <th>Slack handle</th>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.slack_handle}", user_path(user) %></td>
        <td><%= user.house.name %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Admins</h1>
<table>
  <tbody>
  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.username %></td>
    </tr>
  <% end %>
  </tbody>
</table>