<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @response.user.slack_handle %>
</p>

<p>
  <strong>Question:</strong>
  <%= @response.question.body %>
</p>

<p>
  <strong>Body:</strong>
  <%= @response.body %>
</p>

<p>
  <% if @response.body == @response.question.answer %>
    <strong>Correct!</strong>
  <% else %>
    <strong>False</strong>
  <% end %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
